{% extends 'main.html' %}


        {% block center %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-0 col-md-offset-0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Mitgliedsantrag Eigenbaukombinat Halle e.V.</h3>
                    </div>
                    <form action="{% url 'register' %}" method="POST" class="register-form" id="register">{% csrf_token %}
                    <div class="panel-body">
                        <h4>Anmelden als:</h4>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        {{ form.memberstatus.1.tag }}
                                        <label for="{{form.memberstatus.1.id_for_label}}"><strong>{{form.memberstatus.1.choice_label}}</strong></label>
                                    </div>
                                </div>
                            
<p>Als reguläres Mitglied erhältst du die Möglichkeit zu den Öffnungszeiten in den Werkstätten zu arbeiten und alle Maschinen (manche nur nach Einweisung) zu benutzen. Weiterhin kannst du den Verein aktiv mitgestalten.
</p>                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        {{ form.memberstatus.2.tag }}
                                        <label for="{{form.memberstatus.2.id_for_label}}"><strong>{{form.memberstatus.2.choice_label}}</strong></label>
                                    </div>
                                </div>
<p>Werde Fördermitglied wenn du unsere Arbeit gut findest und finanziell unterstützen willst.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        {{ form.memberstatus.3.tag }}
                                        <label for="{{form.memberstatus.3.id_for_label}}"><strong>{{form.memberstatus.3.choice_label}}</strong></label>
                                    </div>
                                </div>
<p>Für alle unter 18 Jahren bieten wir die reguläre Mitgliedschaft zum vergünstigten Beitragssatz. Hierzu benötigen wir eine schriftliche <a href="bla.pdf">Einverständniserklärung der Erziehungsberechtigten</a>. Diese bitte ausfüllen und vorbeibringen / per Post senden.
                            </div>
                        </div>
                        <h4>Beitrag</h4>
                            <div class="row" id="member">
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            {{ feeform.fee.0.tag }}
                                            <label for="{{feeform.fee.0.id_for_label}}">Normal 24 €</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            {{ feeform.fee.1.tag }}
                                            <label for="{{feeform.fee.1.id_for_label}}">Ermäßigt 18 €</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            {{ feeform.fee.3.tag }}
                                            <label for="{{feeform.fee.3.id_for_label}}">Anderer</label>
                                        </div>
                                    </div>
                                    <div id="member_other">
                                        <input class="form-control" id="fee_other" name="fee_other" placeholder="min. 25 €" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="smember">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            {{ feeform.fee.2.tag }}
                                            <label for="{{feeform.fee.2.id_for_label}}">5 €</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            {{ feeform.fee.4.tag }}
                                            <label for="{{feeform.fee.4.id_for_label}}">Anderer</label>
                                        </div>
                                    </div>
                                    <div id="smember_other">
                                        <input class="form-control" id="fee_sustain_other" name="fee_sustian_other" placeholder="min. 5 €" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="jmember">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            {{ feeform.fee.5.tag }}
                                            <label for="{{feeform.fee.5.id_for_label}}">8 €</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="funkyradio">
                                        <div class="funkyradio-success">
                                            {{ feeform.fee.6.tag }}
                                            <label for="{{feeform.fee.6.id_for_label}}">Anderer</label>
                                        </div>
                                    </div>
                                    <div id="jmember_other">
                                        <input class="form-control" id="fee_junior_other" name="fee_junior_other" placeholder="min. 6 €" type="number">
                                    </div>
                                </div>
                            </div>
                        <h4>Bezahlinformationen</h4>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group">
                                    {{ form.iban }}
                                    <span class="input-group-addon"><i id="iban-check" class="" style="display: none"></i></span>
                                </div>
                            </div>
                        </div>
                        <h4>Deine persönlichen Daten</h4>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.surname }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.phonenumber }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <div class="input-group date birth">
                                        {{ form.birthdate }}
                                        <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Deine Anschrift</h4>
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-10">
                                <div class="form-group">
                                    {{ form.street }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <div class="form-group">
                                    {{ form.streetnumber }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <div class="form-group">
                                    {{ form.postcode }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    {{ form.location }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <div class="form-group">
                                    {{ form.country }}
                                </div>
                            </div>
                        </div>
                        <hr></hr>
                        <div style="display: none">{{ form.fee }}</div>
                        <button id="submit" class="btn btn-info btn-block" type="submit" value="Register" disabled=""><strong>Weiter</strong></button>
                    </div>
                    </form>
                </div>
            </div>
            </div>

        <script>
        $('.input-group.date.birth').datepicker({
            format: 'dd.mm.yyyy',
            startView: 2,
            maxViewMode: 3,
            startDate: '-99y',
            endDate: '-10y',
            todayHighlight: true
        });
        $('.input-group.date.entry').datepicker({
            format: 'dd.mm.yyyy',
            startView: 1,
            maxViewMode: 3,
            startDate: '1m',
            todayHighlight: true
        });
        $(function () {
            $('#smember').hide();
            $('#jmember').hide();
            var update_feeform = function() {
                selected = $('input[name=memberstatus]:checked').val();
                if (selected == 'member'){
                    $('#smember').hide();
                    $('#jmember').hide();
                    $('#member').show();
                } else if (selected == 'sustaining_member') {
                    $('#member').hide();
                    $('#jmember').hide();
                    $('#smember').show();
                } else if (selected == 'junior_member') {
                    $('#member').hide();
                    $('#smember').hide();
                    $('#jmember').show();
                }
            };
            update_feeform(); 
           $('.memberstatus').change(function(){
                update_feeform(); 
            });
            });
        $(function () {
            $('#member_other').hide();
            $('#smember_other').hide();
            $('#jmember_other').hide();
            $('#{{feeform.fee.0.id_for_label}}').click(function(){
                $('#member_other').hide();
                value = $(this).val();
                $('#id_fee').attr('value', value);
            });  
            $('#{{feeform.fee.1.id_for_label}}').click(function(){
                $('#member_other').hide();
                value = $(this).val();
                $('#id_fee').attr('value', value);
            });  
            $('#{{feeform.fee.2.id_for_label}}').click(function(){
                $('#smember_other').hide();
                value = $(this).val();
                $('#id_fee').attr('value', value);
            })
            $('#{{feeform.fee.3.id_for_label}}').click(function(){
                $('#member_other').show();
                $('#id_fee').attr('value', '');
            });
            $('#{{feeform.fee.4.id_for_label}}').click(function(){
                $('#smember_other').show();
                $('#id_fee').attr('value', '');
            });
            $('#{{feeform.fee.5.id_for_label}}').click(function(){
                $('#jmember_other').hide();
                value = $(this).val();
                $('#id_fee').attr('value', value);
            });
            $('#{{feeform.fee.6.id_for_label}}').click(function(){
                $('#jmember_other').show();
                $('#id_fee').attr('value', '');
            });
            $('#{{feeform.fee.7.id_for_label}}').click(function(){
                $('#cmember_other').hide();
                value = $(this).val();
                $('#id_fee').attr('value', value);
            });
            $('#{{feeform.fee.8.id_for_label}}').click(function(){
                $('#cmember_other').show();
                $('#id_fee').attr('value', '');
            });
        });
        $(function (){
            $('#fee_other').change(function() {
                value = $('#fee_other').val();
                $('#id_fee').attr('value', value);
            });
            $('#fee_sustain_other').change(function() {
                value = $('#fee_sustain_other').val();
                $('#id_fee').attr('value', value);
            });
            $('#fee_junior_other').change(function() {
                value = $('#fee_junior_other').val();
                $('#id_fee').attr('value', value);
            });
        });

            $.validate({
                form: '#register',
                modules : 'sepa',
            });
            $('input')
                .on('validation', function(evt, valid) {
                    if (this.name == 'iban'){
                        if (valid == true){
                            $('#iban-check').attr('class', 'glyphicon glyphicon-check').show();
                            $('#submit').prop('disabled', false);                            
                        }else{
                            $('#iban-check').attr('class', 'glyphicon glyphicon-remove').show();
                        };
                    };
                });
        </script>
    {% endblock %}
