{% extends 'main.html' %}


            {% block center %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-0 col-md-offset-0">
                <div class="panel panel-default"> 
                    <div class="panel-heading">
                        <h3>Eigenbaukombinat Online Registrierung</h3>
                    </div>
                    <div class="panel-body">
                        {% if status == 'success' %}
                        <p>
                            Vielen Dank für deine Registrierung. Dein Mitgliedsantrag wird nun manuell überprüft. Du erhältst eine E-Mail sobald du offiziell im Verein aufgenommen bist.
                        </p>
                        <hr></hr>
                        <button class="btn btn-success btn-block" style="display: none;"><strong>Download</strong></button>
                        {% elif status == 'registered' %}
                        <p>
                            Mit der von dir angegebenen E-Mail Adresse hat sich bereits jemand registriert. Bitte wende dich an vorstand@eigenbaukombinat.de falls du der Meinung bist, dass dies nicht so sein sollte.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endblock %}
