{% load staticfiles %}

<html>
	<head>
		<title>Eigenbaukombinat – Online Mitglied werden</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>	
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>

	</head>
	<body>
    <div class="page-header">
        <h1><a href="/">Mitglied werden im Eigenbaukombinat</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>